* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/beige.jpg);
  background-size: cover;
}

h1 {
  font-size: 26px;
}

header {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#game-setup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#game-setup > * {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
}

#stats {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body.dark {
  background-color: #333333;
  color: rgb(233, 226, 226);
  background-blend-mode: multiply;
}

#diff > * {
  padding-left: 5px;
}

#time > * {
  padding-left: 5px;
}

#theme > * {
  padding-left: 5px;
}

#start-button {
  border-radius: 3px;
  padding: 6px 16px;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

#game {
  display: flex;
  justify-content: flex-end;
}

#instructions li::marker {
  font-weight: bold;
}

#number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  width: 22%;
  height: 22%;
  margin-top: 128px;
  align-items: center;
  margin-left: 3rem;
}

#number-container > * {
  width: 26%;
  font-size: 2rem;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8%;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0px;
  padding-left: 1rem;
}

.tile {
  border: 1px solid black;
  width: 48px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 16pt;
  margin: 0px;
  line-height: 48px;
}

p.selected {
  background-color: rgb(180, 162, 139);
}

p.incorrect {
  color: red;
}

/* Apply thicker borders to the edges of subgrids */
.tile:nth-child(3n),
.tile:nth-child(6n) {
  border-right-width: 3px;
}

.bottomBorder {
  border-bottom-width: 3px;
}

footer {
  text-align: center;
}
/*To make it for smaller screens*/
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header {
    font-size: 1.1rem;
  }

  #game-setup {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  #game-setup > * {
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
  }

  #start-button {
    font-size: 1rem;
    padding: 10px 10px;
  }

  #game {
    flex-direction: column;
  }

  #instructions {
    padding-left: 1.95rem;
  }

  #board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0px;
    width: 100%;
  }

  .tile {
    border: 1px solid black;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 20pt;
    margin: 0px;
  }

  #number-container {
    margin-top: 0.8rem;
    width: auto;
    margin-left: 1rem;
  }

  #number-container > * {
    width: 2.45rem;
    font-size: 1.6rem;
    padding: 0.4rem;
    border: 1px solid black;
    border-radius: 8%;
    text-align: center;
    margin: 0.033rem;
  }

  .bottomBorder {
    border-bottom-width: 3px;
  }
}
